@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$gray : #1D1E1F;
$light-gray: #AEAEAE;
$glow-shadow: #FC0 1px 1px 5px, #FC0 -1px -1px 5px;

.App {
  font-family: 'Nunito', sans-serif;
  background-color: black;
  color: white;
  text-decoration: none;
}

.text-shine:hover, .Nav.Link:active {
  text-shadow: $glow-shadow; 
  color: white
}

.shine:hover {
  box-shadow: $glow-shadow;
}

.text-gray {
  color: $light-gray;
}

.text-dark-gray {
  color: $gray;
}

.starwars-img {
  width: 25rem; 
}

.starwars-logo {
  width: 8rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

.image-detail {
  width: 20rem;
  background-color: white;
}

.form-control {
  background-color: $gray;
  border: none;
}


.form-control:focus {
  box-shadow: $glow-shadow;
}

.card-img {
  width: 100%;
  height: 14rem;
}

.card-img-small {
  width: 100%;
  height: 4rem;
}

.btn-outline-secondary {
  border: none;
  background-color: $gray;
}

.btn-outline-secondary:active {
  box-shadow: $glow-shadow;
  background-color: white;
}
