@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$gray : #1D1E1F;
$light-gray: #AEAEAE;

.App {
  font-family: 'Nunito', sans-serif;
  background-color: black;
  color: white;
  text-decoration: none;
}

.text-shine:hover, .Nav.Link:active {
  text-shadow: #FC0 1px 1px 5px, #FC0 -1px -1px 5px; 
  color: white
}

.shine:hover {
  box-shadow: #FC0 1px 1px 5px, #FC0 -1px -1px 5px;
}

.text-gray {
  color: $light-gray;
}

.text-dark-gray {
  color: $gray;
}

.starwars-img {
  width: 25rem; 
}

.starwars-logo {
  width: 8rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

.image-detail {
  width: 20rem;
  background-color: white;
}

